.buttons {
    display: flex;
    justify-content: flex-end;
}

h5 {
   color: #00c5bc; 
}

.btn-profile{
    font-family: 'Poppins',sans-serif;  
    color: #fff;
    background-color: #00c5bc;
    padding-left: 0;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;

    &:hover {
        background-color: #322a45;
    }
}