@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import '@/assets/sass/Mixins.scss';
@import '@/assets/sass/Colors.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.add-button {
    @include align-center;

    height: 70px;
    width: 70px;

    font-size: 60px;
    color: $white;
    background-color: $secondary;

    border-radius: 50px;
    border: 5px solid $secondary;

    &:hover {
        background-color: $secondary-hover;
        border-color: $secondary-hover;
        cursor: pointer;
    }
}

.farm-selector-view::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: $primary;
    clip-path: polygon(86% 0, 100% 0, 100% 100%, 40% 100%);
}
.title{
    position: relative;
    text-align: center;
    font-size: 30px;
    padding-top: 5vh;
    max-height: 100vh;
    color: $secondary;
    
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 75vh;
    align-items: center;
    max-width: 5000px;
    flex-wrap: wrap;
    z-index: 1;  
}