@import '@/assets/sass/Colors.scss';
@import '@/assets/sass/Mixins.scss';

.input-component {
    @include card-component-config;
    
    & input {
        @include card-input-config;

        &:focus, :valid {
            border-color: $secondary;
            background: $white;
        }

        &:focus ~ label, :valid ~ label {
            top: 0;
            left: 12px;
            display: 14px;
            color: $primary;
            background: $white;
        }

        /* Esconder placeholder do input date */
        &[type=date] {
            &:required:invalid::-webkit-datetime-edit {
                color: transparent;
            }
            &:focus::-webkit-datetime-edit {
                color: black !important;
            }
        }
    }  

    & label {
        position: absolute;
        left: 18px;
        top: 50%;
        color: #636c72;
        font-size: 15px;
        pointer-events: none;
        transform: translateY(-50%);
        transition: all 0.3s ease;
    }
}
