@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import '@/assets/sass/Colors.scss';

.container {
    & .card {
        position: relative;
        width: 280px;
        height: 400px;
        margin: 30px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: $white;
        border-width: medium;
        border-style: solid;
        border-color: $primary;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;    
    }

    & .conteudo {
        padding: 20px;
        text-align: center;
        transition: 0.5s;

        & img {
            width: 50px;
        }

        & h3 {
            font-size: 1.8em;
            color: $secondary;
            z-index: 1;
        }

        & p {
            font-size: 1em;
            color: $secondary;
            font-weight: 300;
        }

        & a {
            position: relative;
            display: inline-block;
            padding: 8px 20px;
            margin-top: 15px;
            background: $primary;
            color: $secondary;
            border-radius: 20px;
            text-decoration: none;
            font-weight: 500;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        }
    }
}